//** Colors
$dark-color : #344054;
$success-color: #69E1A8;
$purple-color: #9E77ED;
$purple2-color: #95A2E7;
$blue-color: #28C2D7;
$blue2-color: #84D1DB;
$danger-color: #E76E6E;
$gray-color: #7D7D7E;
$white-color : #FFFFFF;
$light-color : #F6F6F6;
$light2-color : #F5F5F5;
$light3-color : #E5E5E5;
$light4-color : #DFDFE0;
$bg-section : #F9FAFB;
